.prose figure figcaption {
	color: #808080;
	font-size: 0.875em;
	line-height: 1.4285714;
	margin-top: 0.8571429em;
}

.prose {
	--un-prose-borders: #7d7d7d4d !important;
}

html.dark .shiki,
html.dark .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
}

html:not(.dark) .shiki {
	color: var(--shiki-light) !important;
	background-color: #fafafa !important;
}

.prose pre code {
	font-family: 'JetBrains Mono', 'Fira Code', monospace;
}

.slide-enter-content > * {
	--stagger: 0;
	--delay: 100ms;
	--start: 0ms;
	opacity: 0;
	animation: slide-enter 0.6s both;
	animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
}

.slide-enter-content > *:nth-child(1) {
	--stagger: 1;
}
.slide-enter-content > *:nth-child(2) {
	--stagger: 2;
}
.slide-enter-content > *:nth-child(3) {
	--stagger: 3;
}
.slide-enter-content > *:nth-child(4) {
	--stagger: 4;
}
.slide-enter-content > *:nth-child(5) {
	--stagger: 5;
}
.slide-enter-content > *:nth-child(6) {
	--stagger: 6;
}
.slide-enter-content > *:nth-child(7) {
	--stagger: 7;
}
.slide-enter-content > *:nth-child(8) {
	--stagger: 8;
}
.slide-enter-content > *:nth-child(9) {
	--stagger: 9;
}
.slide-enter-content > *:nth-child(10) {
	--stagger: 10;
}
.slide-enter-content > *:nth-child(11) {
	--stagger: 11;
}
.slide-enter-content > *:nth-child(12) {
	--stagger: 12;
}
.slide-enter-content > *:nth-child(13) {
	--stagger: 13;
}
.slide-enter-content > *:nth-child(14) {
	--stagger: 14;
}
.slide-enter-content > *:nth-child(15) {
	--stagger: 15;
}
.slide-enter-content > *:nth-child(16) {
	--stagger: 16;
}
.slide-enter-content > *:nth-child(17) {
	--stagger: 17;
}
.slide-enter-content > *:nth-child(18) {
	--stagger: 18;
}
.slide-enter-content > *:nth-child(19) {
	--stagger: 19;
}
.slide-enter-content > *:nth-child(20) {
	--stagger: 20;
}

@keyframes slide-enter {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@media (prefers-reduced-motion: reduce) {
	.slide-enter-content > * {
		animation: none;
		opacity: 1;
	}
}
